@import '../../../../app.component.scss';
.calendario{
	height: 350px
}
.btw {
	padding-top:2.9%;
	padding-left: 4.5% 
}
table th {
   text-align: center; 
}

.tableW {
   margin: auto;
   width: 50% !important; 
}
