<app-page-header [heading]="'Tablas'" [icon]="'fa-table'"></app-page-header>
<div class="row">
  <div class="col col-xl-6 col-lg-12">
    <div class="card mb-3">
      <div class="card-header">
        Básico
      </div>
      <div class="card-body table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Nombre Usuario</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Alberto</td>
              <td>Inch</td>
              <td>ainch</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>D'jalmar</td>
              <td>Gutierrez</td>
              <td>dgutierrez</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Teodoro</td>
              <td>Nina</td>
              <td>tnina</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">Tabla: Head options</div>
      <div class="card-body table-responsive">
        <table class="table">
          <thead class="thead-inverse">
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Nombre Usuario</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Alberto</td>
              <td>Inch</td>
              <td>ainch</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>D'jalmar</td>
              <td>Gutierrez</td>
              <td>dgutierrez</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Teodoro</td>
              <td>Nina</td>
              <td>tnina</td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-default">
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Alberto</td>
              <td>Inch</td>
              <td>ainch</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>D'jalmar</td>
              <td>Gutierrez</td>
              <td>dgutierrez</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Teodoro</td>
              <td>Nina</td>
              <td>tnina</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">tabla: Bordered</div>
      <div class="card-body table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Nombre Usuario</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Alberto</td>
              <td>Inch</td>
              <td>ainch</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>D'jalmar</td>
              <td>Gutierrez</td>
              <td>dgutierrez</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Teodoro</td>
              <td>Nina</td>
              <td>tnina</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td colspan="2">Soporte</td>
              <td>soporte</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">Tabla: Small</div>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Nombre Usuario</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Alberto</td>
            <td>Inch</td>
            <td>ainch</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>D'jalmar</td>
            <td>Gutierrez</td>
            <td>dgutierrez</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Teodoro</td>
            <td>Nina</td>
            <td>tnina</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td colspan="2">Soporte</td>
            <td>soporte</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col col-xl-6 col-lg-12">
    <div class="card mb-3">
      <div class="card-header">Tabla: CABECERA</div>
      <div class="card-body table-responsive">
        <table class="table table-saleh">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Nombre Usuario</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Alberto</td>
              <td>Inch</td>
              <td>ainch</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>D'jalmar</td>
              <td>Gutierrez</td>
              <td>dgutierrez</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Teodoro</td>
              <td>Nina</td>
              <td>tnina</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">Tabla: Striped Rows</div>
      <div class="card-body table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Nombre Usuario</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Alberto</td>
              <td>Inch</td>
              <td>ainch</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>D'jalmar</td>
              <td>Gutierrez</td>
              <td>dgutierrez</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Teodoro</td>
              <td>Nina</td>
              <td>tnina</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td colspan="2">Soporte</td>
              <td>soporte</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">Tabla: Hoverable rows</div>
      <table class="card-body table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Nombre Usuario</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Alberto</td>
            <td>Inch</td>
            <td>ainch</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>D'jalmar</td>
            <td>Gutierrez</td>
            <td>dgutierrez</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Teodoro</td>
            <td>Nina</td>
            <td>tnina</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card mb-3">
      <div class="card-header">Tabla: Contextual classes</div>
      <table class="card-body table">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Nombre Usuario</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active">
            <th scope="row">1</th>
            <td>Alberto</td>
            <td>Inch</td>
            <td>ainch</td>
          </tr>
          <tr class="table-success">
            <th scope="row">2</th>
            <td>D'jalmar</td>
            <td>Gutierrez</td>
            <td>dgutierrez</td>
          </tr>
          <tr class="table-info">
            <th scope="row">3</th>
            <td>Teodoro</td>
            <td>Nina</td>
            <td>tnina</td>
          </tr>
          <tr class="table-warning">
            <th scope="row">4</th>
            <td>Alberto</td>
            <td>Inch</td>
            <td>ainch</td>
          </tr>
          <tr class="table-danger">
            <th scope="row">5</th>
            <td>D'jalmar</td>
            <td>Gutierrez</td>
            <td>dgutierrez</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>