<div class="col-xl-12">
    <h2 class="page-header primary">
      {{ 'menuLateral.usuarios' | translate }}
    </h2>
  </div>
  <hr>
  <div class="row">
    <div class="col col-lg-12">
      <div class="card-body table-responsive">
        <div class="row pull-right">
          <div class="col-lg-12">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button (click)="actualizarDatos()" type="button" class="btn btn-outline-secondary"
                title="{{'title.actualizar'|translate}}">
                <i class="fa fa-refresh"></i> {{'boton.actualizar'|translate}}
              </button>
              <button (click)="abrirModalPost(modalSalehPost, {})" type="button" class="btn btn-outline-adsib"
                title="{{'title.crearNuevoRegistro'|translate}}">
                <i class="fa fa-check"></i> {{'boton.crearRegistro'|translate}}
              </button>
            </div>
          </div>
        </div>
       <table class="table table-saleh" >
          <thead>
            <tr>
              <th>#</th>
              <th class="w20 text-center">
                  <div [hidden]="estado" (click)="casoBusqueda(1);" placement="top" ngbTooltip="Click para buscar" >{{'usuario.titulo.estado'|translate}}</div>
              </th>
              <th class="w20 text-center">
                  <div [hidden]="usuario" (click)="casoBusqueda(1);" placement="top" ngbTooltip="Click para buscar" >{{'usuario.titulo.usuario'|translate}}</div>
                  <div [hidden]="!usuario" class="input-group">
                      <input type="text" class="form-control form-control-sm" placeholder="Usuario"
                          (keyup)="buscar()" [(ngModel)]="buscarUsuario">
                      <span class="input-group-btn">
                          <button class="btn btn-secondary btn-sm" (click)="close()">
                              <i class="fa fa-times"></i>
                          </button>
                      </span>
                  </div>
              </th>
              <th class="w20 text-center">
                  <div [hidden]="nombre" (click)="casoBusqueda(2);" placement="top" ngbTooltip="Click para buscar" class="text-center">{{'usuario.titulo.nombre'|translate}}</div>
                 <div [hidden]="!nombre" class="input-group">
                      <input type="text" class="form-control form-control-sm" placeholder="Nombre"
                          (keyup)="buscar()" [(ngModel)]="buscarNombre">
                      <span class="input-group-btn">
                          <button class="btn btn-secondary btn-sm" (click)="close()">
                              <i class="fa fa-times"></i>
                          </button>
                      </span>
                  </div>
              </th>
              <th sortable="apellidos" class="w5 text-center">
                <div placement="top" >{{'usuario.titulo.apellidos'|translate}}</div>
                <!-- <div [hidden]="!apellidos" class="input-group">
                    <input type="text" class="form-control form-control-sm" placeholder="Codigo" (keyup)="buscar()" [(ngModel)]="buscarCodigo">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary btn-sm" (click)="close()">
                            <i class="fa fa-times"></i>
                        </button>
                    </span>
                </div> -->
              </th>
              <th class="w5">{{'venta.titulo.accion'|translate}}</th>
            </tr>
          </thead>
          <tbody [hidden]="paginacion.total === 0">
            <tr *ngFor="let item of usuarios let i = index" [attr.data-index]="i" >
              <td scope="row">{{i+1}}</td>
              <td scope="row">
                <span class="badge badge-success"
                  [ngClass]="{'badge-success':item.estado==='ACTIVO','badge-danger':item.estado==='INACTIVO',  'badge-secondary':item.estado==='PENDIENTE'}">{{item.estado|translate}}</span>
              </td>
              <td class="text-center">{{item.usuario|translate|uppercase}}</td>
              <td class="text-center">{{item.persona.nombres|translate|uppercase}}</td>
              <td class="text-center">{{item.persona.primer_apellido|translate |uppercase}}</td>
              <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="Botones de acción">
                    <button type="button" class="btn btn-outline-info" title="{{'title.editar'|translate}}" (click)="abrirModal(modalSaleh, item)"  *ngIf="permiteCrear()"> <i class="fa fa-pencil"></i> </button>
                    <button type="button" class="btn btn-outline-adsib" title="{{'title.enviar'|translate}}" (click)="token(item)"> <i class="fa fa-key"></i> </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="paginacion.total === 0">
            No se encontraron resultados...
        </div>
      </div>
    </div>
  </div>
  <!-- Info -->
  <ng-template class="" #modalSaleh let-modal>
      <div class="modal-header-saleh">
        <h5 class="text-theme-bold">
          {{ modalTitulo }}
        </h5>
        <button type="button" class="close text-danger border border-0 active" aria-label="Close" (click)="cerrarModal()">
          <span>
            <i class="fa fa-times"></i>
          </span>
        </button>
     </div>
     <div class="modal-body  text-theme">
        <p>
          <strong>Usuario:  </strong>  {{datosUsuario}} 
        </p>
        <label ><strong>Rol de usuario:  </strong></label>
        <div class='custom-control custom-radio custom-control-inline' *ngFor="let item of roles">
          <div class="radio-selection">
           <input type="radio" [name]="'radio-'+item.id_grupo" [value]="item.id_grupo" id="radio-first-{{item.id_grupo}}" [(ngModel)]='usuario_rol.fidGrupo'>
           <label for="radio-first-{{item.id_grupo}}">{{item.grupo}}</label>
          </div>
        </div>
        <br>
        <br>
        <label><strong>Estado usuario:  </strong></label>
        <div class="custom-control custom-control-inline">
          <label class="container"> 
              <input type="checkbox" [(ngModel)]="checkedi"  data-md-icheck (change)="toggleVisibility($event)" />
                <span *ngIf="checkedi">ACTIVO</span> <span *ngIf="!checkedi">INACTIVO</span>
              <span class="checkmark"></span>
          </label>
        </div>
        <br>
        <br>
        <label><strong>Contribuyente: </strong></label>
        <div class="custom-control custom-control-inline">
          <label class="container"> 
            <select [(ngModel)]="usuarioDatos.fid_contribuyente" class="custom-select form-control-sm"  aria-describedby="TipP">
              <option *ngFor="let title of listaContribuyentes" 
                      [value]="title.id_contribuyente" >
                {{title.nombre}}
              </option>
            </select>
          </label>
        </div>
        <br>
        <label><strong>Sucursal - Punto de Venta: </strong></label>
        <div class="custom-control custom-control-inline">
          <label class="container"> 
            <select [(ngModel)]="usuarioDatos.fidPuntoVenta" required id="tipo" name="tipo" [ngClass]="{'is-invalid': validacionS, 'custom-select': true, 'is-valid': validacionS != null || false}">
              <option *ngFor="let title of listaPuntosVenta" 
                      [value]="title.id_punto_venta" >
                {{title.nombre}}
              </option>
            </select>
          </label>
        </div>
        <br>
     </div>
     <div class="modal-body  text-theme">
       <div class="modal-footer">
         <button  class="btn btn-outline-success btn-sm" type="button" (click)="editarRegistro();cerrarModal();">
            Guardar Cambios
         </button>
         <button  class="btn btn-outline-danger btn-sm" type="button" (click)="cerrarModal();">
            Cancelar
         </button>
       </div>
     </div>
  </ng-template>
  <!-- Crear -->
  <ng-template class="" #modalSalehPost let-modal>
    <div class="modal-header-saleh">
      <h5 class="text-theme-bold">
        {{ modalTitulo }}
      </h5>
      <button type="button" class="close text-danger border border-0 active" aria-label="Close" (click)="cerrarModal()">
        <span>
          <i class="fa fa-times"></i>
        </span>
      </button>
    </div>
    <div class="modal-body  text-theme">
      <div class="card-body">
        <div class="row">
          <label class="col-md-2">
            <small><strong>Usuario</strong></small>
          </label>
          <div class="col-md-4">
            <input type="text" [(ngModel)]="modalData.usuario" class="form-control form-control-sm" autocomplete="off">
          </div>
          <label class="col-md-2">
            <small><strong>Contraseña</strong></small>
          </label>
          <div class="col-md-4">
            <input type="password" [(ngModel)]="modalData.contrasena" class="form-control form-control-sm" autocomplete="off">
          </div>
          <label class="col-md-2">
            <small><strong>Contribuyente</strong></small>
          </label>
          <div class="col-md-4">
            <select [(ngModel)]="modalData.fid_contribuyente" class="custom-select form-control-sm"  aria-describedby="TipP">
              <option *ngFor="let title of listaContribuyentes"
                [value]="title.id_contribuyente" >
                {{title.nombre}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-body  text-theme">
      <div class="modal-footer">
        <button  class="btn btn-outline-success btn-sm" type="button" (click)="crearRegistro();cerrarModal();">
          Guardar Cambios
        </button>
        <button  class="btn btn-outline-danger btn-sm" type="button" (click)="cerrarModal();">
          Cancelar
        </button>
      </div>
    </div>
  </ng-template>
  <!-- Paginación-->
  <div class="d-flex justify-content-end " *ngIf="paginacion.total>0">
       <small class="col-sd-2 form-text text-muted">
          <strong>Por página: &nbsp;</strong>
       </small>
       <select class="custom-select col-md-1 form-control-sm" style="width: auto" [(ngModel)]="limit" (change)="paginar(1, limit, buscarNombre, buscarUsuario)">
        <option [ngValue]="10">10 </option>
        <option [ngValue]="25">25 </option>
        <option [ngValue]="50">50 </option>
      </select> 
  
      <ngb-pagination [collectionSize]="paginacion.total" [(page)]="paginacion.paginaActual" [maxSize]="8" size="sm" size="sm" [rotate]="true" (pageChange)="paginar($event, limit, buscarNombre, buscarUsuario)" [pageSize]="limit"  class="">
      </ngb-pagination>
  </div>